html{
  font-family: 'Roboto', monospace !important;
  text-align: center;
  background-color: black;
}

p{
  color: white;
}

h1{
  color: white;
  padding-top:20px;
}

a:link{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.rowMember{
  
}

.navigationBar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem{
  padding-top: 5px;
  padding-right: 10px;
  font-size: medium;
}

.profileImage{
  width:150px;
  height:200px;
  border-color: white !important;
  border-style: solid;
}

.smallBorder{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.tenPad{
  margin-bottom: 10px
}

.centerUp{
  display:block;
  margin:auto;
}